.containerform {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* flex-direction: row; */
  /* margin-left: 200px;
  margin-right: 200px; */
  /* padding: 100px 0px; */
}

.leftcontainer {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-left: 80px; */
}

.leftcontainer h1 {
  font-size: 1.5rem;
  text-align: center;
}
.listmain {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-size: 1rem;
}

.gradient-image {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.list1 .l1,
.l2,
.l3,
.l4,
.l5 {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.list2 .l6,
.l7,
.l8,
.l9,
.l10 {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.rightmost-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  height: 100vh;
  width: 50%;
  background-image: linear-gradient(
    90deg,
    rgba(233, 68, 132, 1) 0%,
    rgba(230, 143, 92, 1) 100%
  );
  color: #fff;
}

.innerRight {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  width: 80%;
  height: 80%;
}

/* 
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
  height: 100%;
  width: 300px;
}

.form-container label {
  font-size: 1.2rem;
}

.form-container input {
  border: 1.5px solid #000;
  width: 80%;
} */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact select[type="choice"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #f9f9f9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact select[type="choice"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact select[type="choice"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background-image: linear-gradient(
    90deg,
    rgba(233, 68, 132, 1) 0%,
    rgba(230, 143, 92, 1) 100%
  );
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact select:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

@media only screen and (max-width: 768px) {
  .containerform {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 50px;
  }

  .listmain {
    flex-direction: column;
    gap: 10px;
  }
}

/* .containerform {
  display: flex;
  flex-direction: row;
  margin-left: 200px;
  margin-right: 200px;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
}

.leftcontainer {
  justify-content: center;
  align-items: center;
  margin-left: 80px;
}
.listmain {
  flex: 0.5;
  display: flex;
  
  margin-top: 20px;
  gap: 40px;
  font-size: larger;
}
.rightmost {
  display: flex;
  flex: 0.4;
  align-items: center;
  justify-content: center;
}
.rightcontainer {
  background-image: linear-gradient(
    90deg,
    rgba(233, 68, 132, 1) 0%,
    rgba(230, 143, 92, 1) 100%
  );
  width: 700px;
  height: 750px;
  border-radius: 20px;
}
.innerRight {
  background-color: white;
  width: 500px;
  height: 600px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 18px;
  margin-bottom: 60px;
  border-radius: 20px;
}
.rightcontainer h1 {
  color: white;
  font-family: sans-serif;
  margin-left: 80px;
  margin-top: 30px;
  font-size: xx-large;
}

.gradient-image {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.list1 .l1,
.l2,
.l3,
.l4,
.l5 {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.list2 .l6,
.l7,
.l8,
.l9,
.l10 {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
#full-name3,
#email3,
#phone-number3,
#courses3,
#message3 {
  margin-left: 40px;
}
#label3 {
  margin-left: 40px;
}

#button3 {
  margin-left: 40px;
  border-radius: 20px;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 100px;
  }

  .listmain {
    flex-direction: column;
    gap: 0px;
  }
} */
