.container {
  display: flex;
  gap: 300px;
}
.leftcontainer {
  /* width: 1000px;
    margin: 0 auto; */
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}
/* .leftcontainer h1{
    margin-left: 50px;
} */

.rightcontainer {
  background-image: linear-gradient(
    90deg,
    rgba(233, 68, 132, 1) 0%,
    rgba(230, 143, 92, 1) 100%
  );
  width: 700px;
  height: 800px;
}
.innerRight {
  background-color: white;
  width: 500px;
  height: 600px;
  margin-left: 80px;
  margin-right: 100px;
  margin-top: 40px;
  margin-bottom: 60px;
}
.rightcontainer h1 {
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 80px;
  margin-top: 50px;
  font-size: xx-large;
}

.list {
  margin-left: 30px;
  margin-top: 20px;
  display: flex;
  gap: 120px;
  font-size: larger;
}
li {
  margin-top: 13px;
}
.gradient-image {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.list1 .l1,
.l2,
.l3,
.l4,
.l5 {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.list2 .l6,
.l7,
.l8,
.l9,
.l10 {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.rightcontainer p {
  margin-top: 30px;
  justify-content: center;
  color: white;
  padding: 10px;
  font-weight: bold;
}

/* .mt-10{
    background-image: linear-gradient(
    90deg,
    rgba(233, 68, 132, 1) 0%,
    rgba(230, 143, 92, 1) 100%
  );
} */
/* #full-name, #email, #phone-number, #courses, #message {
    margin-left: 20px;
} */
/* label {
  margin-left: 20px;
}
button {
  margin-left: 20px;
} */

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 100px;
  }

  .list {
    /* margin-top: 100px; */
    flex-direction: column;
    gap: 0px;
    /* display: block;  */
  }
}
