.topdiv-aboutus {
    /* display: flex;
    width: 100%;
    height: 200px;
    background: var(--lineargrad);
    align-items: end;
    justify-content: center;
    font-family: "Lato", Arial, sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: white; */
    margin: 0 0;
    display: flex;
    align-items: end;
    background: var(--lineargrad);
    height: 200px;
    color: white;
}
.topdiv-aboutus h1{
  font-size: 3.5rem;
  font-weight: bold;
  margin: 20px 50px;
}
.about, .directorsView{
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
    color: #4B4655;
    font-weight: bolder;
}
.below-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.belowdiv {
    display: flex;
    max-width: 70%;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.left-img{
    max-width: 50%;
}
.left-img img {
    max-width: 100%;
    max-height: 100%;
  }
.right-content {
    max-width: 50%;
    position: relative;
    padding-bottom: 3rem;
    padding-top: 3rem;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    justify-content: end;
}
.right-heading{
    font-size: 30px;
    font-family: "Roboto Condensed", Arial, sans-serif;

}
.right-heading span{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 100;
    line-height: 1;
    font-family: "Roboto Condensed", Arial, sans-serif;
    margin-bottom: 1.5rem;
}

.right-matter {
    margin-top: 20px;
    font-family: "Lato", Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: gray;
    text-align: justify;
}
.DirectorsView{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.director-img{
    max-width: 15%;
}
.DirectorsMsg {
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: center;
}
.director-msg{
    max-width: 70%;
    margin-top: 20px;
    font-family: "Lato", Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: gray;
    text-align: justify;
    margin-bottom: 20px;
}
@media only screen and (max-width: 786px) {
    .topdiv-aboutus {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .topdiv-aboutus h1 {
        font-size: 2.5rem;
        margin: 0 0;
      }
    .belowdiv {
        display: flex;
        flex-direction: column;
        max-width: 80%;
        margin-right: -15px;
        margin-left: -15px;
        gap: 0px;
        margin-bottom: 20px;
    }
    .left-img{
        max-width: 100%;
    }
    .right-content {
        max-width: 100%;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
        padding-right: 0px;
        padding-left: 0px;
        text-align: justify;
    }
    .right-heading {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 70;
        line-height: 1;
        margin-bottom: 1.5rem;
        text-align: center;
    }
    .right-matter {
        font-size: 15px;
        font-weight: 400;
        
    }
    .director-img{
        max-width: 50%;
    }
    .director-msg{
        max-width: 80%;
    }
}