.awards{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.awards img{
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 13 px;
    box-shadow: 4px 7px 7px 0px black;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
}

.awards:hover img{
    filter: blur(10px);
}


.awards img:hover{
    /* filter: grayscale(1);
    transform: scale(1.03); */
    filter: blur(0px);
}