.courses-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 100px auto;
}

.courses-list {
  /* display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto; */
  display: flex;
}

.courses-list .courses-box {
  width: fit-content;
}

.courses-list button {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 20vw;
  height: fit-content;
  background-color: #f0f0f0;
  border: none;
  margin: 6px;
  cursor: pointer;
  transition: all 0.3s;
}

.courses-list .lower {
  margin-top: 60px;
}

.courses-list button:hover {
  background-color: #ddd;
}

.courses-list .course-active {
  background: linear-gradient(
    90deg,
    rgba(233, 68, 132, 1) 0%,
    rgba(230, 143, 92, 1) 100%
  );
  color: #fff;
}

.courses-icon {
  font-size: 40px;
}

.courses-name {
  font-size: 12px;
  text-transform: capitalize;
}

.courses-data {
  margin-top: 40px;
  padding: 4px;
}

.courses-data button {
  border: none;
  background: linear-gradient(
    90deg,
    rgba(233, 68, 132, 1) 0%,
    rgba(230, 143, 92, 1) 100%
  );
  font-size: 16px;
  color: #fff;
  /* text-transform: uppercase; */
  padding: 20px 38px;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .courses-container {
    flex-direction: row;
  }
  .courses-list {
    margin-right: 30px;
    width: 45vw;
  }
  .courses-list button {
    width: 200px;
    padding: 10px 50px;
  }
  .courses-list .lower {
    margin-top: 120px;
  }
  .courses-data {
    margin-top: 0px;
    width: 500px;
    margin-left: 30px;
  }
  .courses-icon {
    font-size: 100px;
  }

  .courses-name {
    font-size: 18px;
  }
}
