.events-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.events-grid {
  display: grid;
  width: 100vw;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto;
}

.events-item {
  margin: 8px;
  height: 200px;
  background-color: red;
}

@media only screen and (min-width: 786px) {
  .events-grid {
    width: 60vw;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
  }
  .events-desktop-item {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
    height: auto;
  }
}
