/* Buttons styling */

/* Data styling */
.data-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.data-grid {
  width: 50vw;
  /* background-color: red; */
  display: grid;
  grid-template-columns: auto auto;
}
