/* Buttons styling */
.coursebtn-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  gap: 24px;
  width: 100%;
}

.coursesubbtn {
  display: grid;
  grid-template-rows: 0fr;
  transition: all 0.5s;
}

.coursesubbtn-active {
  grid-template-rows: 1fr;
}

.coursesubbtn-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.coursesubbtn-inner button {
  background: var(--lineargrad);
  color: #fff;
  border-radius: 16px;
  margin: 8px 0px;
  width: 250px;
  padding: 8px;
}

@media only screen and (min-width: 786px) {
  .coursebtn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 0;
  }

  .coursesubbtn,
  .coursesubbtn-active {
    position: absolute;
    margin-top: 16px;
    box-shadow: 0px 0px 8px #0007;
    border-radius: 16px;
    background: #fff;
    width: 275px;
  }

  .coursesubbtn-inner button {
    width: 200px;
  }

  .coursesubbtn-active::after {
    position: absolute;
    top: -20px;
    left: 134px;
    content: "▲";
    width: 0;
    height: 0;
    /* border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff; */
    text-shadow: 0px -4px 8px #0007;
    color: #fff;
  }
}

/* Data styling */
.course-data {
  margin-top: 32px;
  margin-bottom: 64px;
}

.data-title {
  padding: 0px 8px;
}

.data-title h1 {
  font-size: 28px;
}

.data-yearbtn {
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
}

.data-container {
  margin: 4px 24px;
}

.data-grid {
  background-color: #fff;
  display: grid;
  grid-template-columns: auto auto;
}

.data-grid div {
  width: 43vw;
}

.data-grid div div {
  padding: 4px;
  height: 80px;
  border-bottom: dotted 1px #000;
}

.data-grid div div:last-of-type {
  border-bottom: none;
}

.data-gridhead {
  font-weight: bold;
  height: fit-content !important;
  text-align: center;
}

@media only screen and (min-width: 786px) {
  .course-data {
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }
  .data-yearbtn {
    width: fit-content;
  }
  .data-yearbtn button {
    margin: 0px 8px;
  }
  .data-grid {
    width: 60vw;
    margin: auto;
  }
  .data-grid div {
    width: 30vw;
  }
  .data-grid div div {
    padding: 16px;
  }
}
