/* Image List */
.gallery-list {
  margin: 2rem 0.5rem;
}

.gallery-list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.gallery-list li {
  height: 30vh;
  flex-grow: 1;

  display: flex;
  align-items: center;
}

.gallery-list img {
  cursor: pointer;
  height: 100%;
  min-width: 100%;
  object-fit: cover;
  box-shadow: 0 0 8px #0000;
  transition: scale 0.2s, box-shadow 0.2s;
}

.gallery-list img:hover {
  scale: 1.05;
  box-shadow: 0 0 16px #0007;
}

/* Image Modal */
.gallery-modal {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.gallery-modal .gallery-cover {
  pointer-events: all;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000a;
}

.gallery-modal .gallery-pagination {
  display: none;
  position: absolute;
  height: 100%;
  width: 50px;
  color: #fff;
  font-size: 28px;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  cursor: pointer;
}

.gallery-modal .gp-left {
  left: 0;
}
.gallery-modal .gp-left:hover {
  background-image: linear-gradient(90deg, #0003, #0000);
}

.gallery-modal .gp-right {
  right: 0;
}
.gallery-modal .gp-right:hover {
  background-image: linear-gradient(270deg, #0003, #0000);
}

.gallery-modal .gallery-image {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.gallery-image img {
  pointer-events: all;
  margin: auto;
  max-width: 90vw;
  max-height: 90vh;
  transition: scale 0.5s;
  transform-origin: center;
}

.gallery-image .gallery-buttons {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1em 0;
  gap: 0.5em;
}

.gallery-buttons button {
  pointer-events: all;
  font-size: 1.2em;
  padding: 0.2em;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #7777;
  transition: background-color 0.2s;
}

.gallery-buttons button:hover {
  background-color: #aaa;
}

@media only screen and (min-width: 786px) {
  .gallery-list {
    margin: 8rem 8rem;
  }

  .gallery-list ul {
    gap: 1.5em;
  }
  .gallery-modal .gallery-pagination {
    display: flex;
  }
}
